body {
    font-family: Arial, sans-serif;
    background: #f4f6fb;
    padding: 20px;
}

h2, h3 {
    text-align: center;
}

.top-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.add-student {
    text-align: center;
    margin-bottom: 10px;
}

input, select, button {
    padding: 7px;
    font-size: 14px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 10px;
}

th {
    background: #2563eb;
    color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.present {
    color: green;
    font-weight: bold;
    cursor: pointer;
}

.absent {
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.summary-box, #weeklyPercentage {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

#weeklyReport {
    margin-top: 15px;
    overflow-x: auto;
}

#weeklyReport table th {
    background: #1e40af;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}

.badge {
    margin-top: 10px;
}

.badge-circle {
    width: 140px;
    height: 140px;
    margin: auto;
    border-radius: 50%;
    background: #1e40af;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.motto {
    margin-top: 5px;
    font-style: italic;
    font-weight: bold;
}
/* TEACHER NAME */
#teacherDisplay {
    color: blue;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

/* LOGIN PAGE */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e0e7ff;
}

.login-box {
    background: white;
    padding: 25px;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-box input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

.login-box button {
    width: 100%;
    padding: 8px;
    background: #1e40af;
    color: white;
    border: none;
    cursor: pointer;
}

.note {
    font-size: 12px;
    margin-top: 10px;
}
.teacher-info {
    text-align: center;
    margin-top: 5px;
}

#logoutBtn {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #1e40af;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

#logoutBtn:hover {
    background-color: #2563eb;
}
